<div style="
display: grid;
grid-template-columns: repeat(4, 1fr);
column-gap: 45px;
row-gap: 20px;
padding: 0px 60px 20px 60px;
/* Limit to max 4 columns */
max-width: calc(4 * 408px + 3 * 20px); /* 4 cards + 3 gaps */"
>
    {% include "app/machines/machine_detail.html" %}
    {% include "app/machines/machine_detail.html" %}
    {% include "app/machines/machine_detail.html" %}
    {% include "app/machines/machine_detail.html" %}
    {% include "app/machines/machine_detail.html" %}
    {% include "app/machines/machine_detail.html" %}
    {% include "app/machines/machine_detail.html" %}
    {% include "app/machines/machine_detail.html" %}
</div>